<div class="field">
  <%= form.label :attachment %>:<br/>
  <%= form.file_field :attachment %>
</div>
<div class="field">
  <%= form.label :alt, t('description') %>:<br/>
  <%= form.text_field :alt, :class => 'text' %>
</div>
